
#postBar{
	background-image: url("../img/Avatar.png");
	background-position: right;
	background-repeat: no-repeat;
	margin-bottom: 0;
}

div.container div.navbar a.navbar-brand{
	font-family: Papyrus, fantacy;
	font-size: 26px;
}
/*div.container div.navbar a.navbar-brand span{
	vertical-align: sub;
}*/

div.container div.navbar a.navbar-brand:hover{
	color:#228DFF;
}

div#canvasloader-container #canvasLoader{
	text-align: center;
}


@media only screen and (max-width: 500px){
	#postBar{
		background-image: none;
	}
}
