
#postBar{
	background-image: url("../img/Avatar.png");
	background-position: right;
	background-repeat: no-repeat;
	margin-bottom: 0;
}

@media only screen and (max-width: 500px){
	#postBar{
		background-image: none;
	}
}