/* waterfall element */
div.waterfall_container div.thumbnail{
	padding:0;
	margin-bottom: 10px;
	overflow: hidden;
	border-radius: 5px;
}

div.waterfall_container div.thumbnail.post{
	/*height: 250px;*/
	background-color: black;
	color: white;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
div.waterfall_container div.thumbnail.post p{
	text-align: left;
}

div.waterfall_container div.thumbnail.post div.overlay{
	background-color: rgba(255,255,255,0.9);
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width:100%;
	line-height: 100%;
	color: black;
	font-weight: bold;
	font-size: large;
	display: none;
}

div.waterfall_container div.thumbnail.post .overlay span{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}


/* waterfall layout */
.grid-sizer,div.waterfall_container div.thumbnail{
	width: 19%;
}
.gutter-sizer{
	width: 1.25%;
}

@media screen and (min-width: 1px) and (max-width: 500px){
    div.waterfall_container div.thumbnail, .grid-sizer{
		width:100%;
	}

	div.waterfall_container div.gutter-sizer{
		width: 0;
	}

}
@media screen and (min-width: 501px) and (max-width: 700px){
	div.waterfall_container div.thumbnail, .grid-sizer{
		width:49%;
	}

	div.waterfall_container div.gutter-sizer{
		width: 2%;
	}
}
@media screen and (min-width:701px) and (max-width: 991px){
	div.waterfall_container div.thumbnail, .grid-sizer{
		width: 32%;
	}

	div.waterfall_container div.gutter-sizer{
		width: 2%;
	}
}
@media screen and (min-width:992px) and (max-width: 9999px){
    div.waterfall_container div.thumbnail, .grid-sizer{
		width: 24.25%;
	}

	div.waterfall_container div.gutter-sizer{
		width: 1%;
	}
}
